* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav-bar {
  position: relative;
  height: 218vh;
  width: 100vw;
  background: #ffffff;
  transition: 0.6s;
  z-index: 1;
}
.nav-bar.light {
  background: #313030;
}
.contactimage {
  display: flex;
  height: 40%;
  width: 100%;
  z-index: 1;
  position: relative;
}
.contactimage img {
  position: absolute;
  top: -9rem;
  left: 0;
  width: 100.7vw;
  height: 33vw;
  object-fit: cover;
  filter: brightness(0.6);
  z-index: 1; 
  margin-left: -2vw;
}
.content {
  margin: 24.6rem auto;
  width: 100%;
  position: relative;
  z-index: 1000;
}
.contact-content {
  position: absolute;
  top: 70.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 1000;
}
.contact-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footerr {
  position: absolute;
  bottom: -4.4rem;
  width: 100%;
  z-index: 1000;
}